.layui-card {
  margin: 16px;
}
.box {
  display: flex;
}
.cropper {
  width: 400px;
  height: 280px;
  overflow: hidden;
  margin-right: 20px;
}
.img-preview {
  width: 200px;
  height: 150px;
  background: #ccc;
  margin-bottom: 20px;
  overflow: hidden;
}
